  <div class="row">
	<%= render 'posts/form' %>
	<div class="col-xs-9">

	  	<h2>あなたの投稿</h2>

		<table class="table table-hover table-inverse">
				<thead>
				<tr>
				  <th>タイトル</th>
				  <th>本文</th>
				  <th>天使or悪魔</th>
				  <th>ジャンル</th>
				</tr>
			  	</thead>

				<tbody id="posts">
				<% current_user.posts.each do |post| %>
				   <tr>
					  <td>
					    <%= post.title %>
					  </td>
					  <td>
					    <%= post.body %>
					  </td>
					  <td>
					  	<% if post.choice == true %>
					  		悪魔
					  	<% else %>
					  		天使
					  	<% end %>
					  </td>
					  <td>
						<%= post.genre.genre_name %>
					  </td>
					  <td>
						<%= link_to "show" ,post_path(post) %>
					  </td>
					</tr>
				<% end %>

			    </tbody>
			</table>
	</div>
  </div>
</div>





