<div id="alert alert-danger">
				<% if @post.errors.any? %>
        			<h2><%= @post.errors.count %>error prohibited this obj from being saved:</h2>
        			<ul>
        			<% @post.errors.full_messages.each do |message| %>
            			<li><%= message %></li>
        			<% end %>
        		    </ul>
    			<% end %>
    </div>

	<div class="row">

		<%= render 'posts/form'%>

		<div class="col-xs-9">

			<h2>投稿一覧</h2>
			<%= form_tag(posts_search_path, method: "get") do %>
   				<%= select_tag(:choice, options_for_select([["天使",false],["悪魔",true]])) %>
   			<%= submit_tag "絞り込み" %>
 			<% end %>


			<table class="table table-hover table-inverse">
			<thead>
			<tr>
			  <th>タイトル</th>
			  <th>本文</th>
			  <th>天使or悪魔</th>
			  <th>ジャンル</th>
			</tr>
		  </thead>

			<tbody id="posts">
			    <% @posts.each do |post| %>
 				   <tr>
 					  <td>
 					    <%= post.title %>
 					  </td>
 					  <td>
 					    <%= post.body %>
 					  </td>
 					  <td>
 					  	<% if post.choice == true %>
 					  		悪魔
 					  	<% else %>
 					  		天使
 					  	<% end %>
 					  </td>
 					  <td>
 						<%= post.genre.genre_name %>
 					  </td>
 					  <td>
 						<%= link_to "show" ,post_path(post) %>
 					  </td>
 					</tr>
 				<% end %>
		    </tbody>
			</table>

		</div>
</div>
