<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
<%= @post.title %>

<%= form_for [@post, @comment] do |f| %>
<%= f.text_field :comment %>
<%= f.submit "投稿する" %>
<% end %>

コメント：
<% @comments.each do |c| %>
    <%= c.comment %>
<% end %>
